.model {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensures modal is on top of other content */
    }


       /* Animmation */
       @keyframes fadeIn {
        from {
        opacity: 0;
        transform: scale(0.9);
        }
        to {
        opacity: 1;
        transform: scale(1);
        }
        }

    .model-content {
        background-color: #ffffff;
        padding: 20px;
        width: 400px;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
        position: relative;
        animation: fadeIn 0.3s ease-in-out;
        }

        .model-content form input[type="text"],
        .model-content form input[type="email"] {
            width: 94%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }
         /* close button*/
         .model-content button {
            position: absolute;
            top: 10px;
            right: 10px;
            background: transparent;
            border: none;
            font-size: 20px;
            cursor: pointer;
            }


        .model-content form button[type="submit"] {
            padding: 12px;
            background-color: #007bff;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.2s;
            position: relative;
            }


            .model-content form button[type="submit"]:hover {
            background-color: #0056b3;
            }
           


              
                    