
.sidebar {
    /* color: white; */
    height: 100px;
    transition: width 0.3s ease; /* Smooth transition for expansion */
    position: relative;
    }
    /* Expanded sidebar style */

.toggle-button {
    /* background: #ea0f0f;    */
    color: #ffffff;
    border: none;
    /* padding: 10px; */
    width: 100%;
    cursor: pointer;
    text-align: left;
    transition: background 0.6s;
    }
    .toggle-button:hover {
    background: #666;
    }
    
    /* Menu List */
.menu-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    color: #0a0a0a;
    }
    .menu-list li {
    padding: 10px;
    white-space: nowrap; /* Prevents text wrapping */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth fade-in */

    }

    /* Show items when expanded */
.sidebar.expand-menu .menu-list li {
    opacity: 1;
    }
    .sidebar.expand-menu{ 
    background-color: yellow; 
    width: 160px;
    height: 1000px;
    display: block;
   
   }
   .sidebar.collapse-menu{
    width: 4.5%;
    height: 50px;
    margin-right: 20px;
 }
 .icon-size{
    height: 38px;
 }
    